.name {
    font-family: 'Black Ops One', sans-serif;
    display: inline;
}

.name:hover {
    animation: uk-text-shadow-glitch .65s cubic-bezier(1,-1.91,0,2.79) 0s infinite normal both running;
    cursor: crosshair;
}

@keyframes uk-text-shadow-glitch {
    0% {
        text-shadow: none;
    }
    25% {
        text-shadow: -2px -2px 0 #ff004f, 2px 2px 0 #00f7ef;
    }
    50% {
        text-shadow: 2px -2px 0 #ff004f, -2px 2px 0 #00f7ef;
    }
    75% {
        text-shadow: -2px 2px 0 #ff004f, 2px -2px 0 #00f7ef;
    }
    100% {
        text-shadow: 2px 2px 0 #ff004f, -2px -2px 0 #00f7ef;
    }
}

body {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(https://cdn.tangjiayan.com/bg.png);
    background-position: center;
}

footer {
    background: transparent !important;

}

footer a {
    display: inline-block;
    text-decoration: underline;
}

footer a img{
    vertical-align: middle;
    display: inline-block;
    margin-right: 5px;
}

footer a:hover {
    color:rgb(106, 101, 212);
}

/* .clip {
    margin-bottom: 300px !important;
} */

.actions {
    display: block !important;
    padding-top: 100px !important;
}

/* .VPButton {
    display: inline;
} */
