/* name hover 特效 */

.name {
  font-family: "Black Ops One", sans-serif;
  display: inline;
}

.name:hover {
  cursor: crosshair;
}

/* 深色主题背景图片 */

body {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(/bg.png);
  background-position: center;
}

/* 深色背景图片 页脚防截断 */
/* 
footer {
  background: transparent !important;
} */

/* 按钮竖排 */

.actions {
  display: block !important;
  padding-top: 100px !important;
}

/* 切换按钮移位 */

.my_VPSwitch {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

/* VPContent 内容居中 */

.VPContent {
  display: flex; /* 使用 Flexbox 布局 */
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中（如果有高度） */
  text-align: center; /* 文字居中 */
}

/* 隐藏默认导航栏 */

.VPNav {
  display: none;
}
